<h2>About this website!</h2>
<p>This website was created by Scott following the course "Django 2 & Python | The Ultimate Web Development Bootcamp".<br>
  I got a bunch of courses for $30 on offer. I hope this works! Current Date - 27/05/2020.</p>
<a href="{% url 'home' %}">Home page</a>
<br><br><br>
<p>Editors note, it worked after I remembered to put a ":" after the function name in the views file, duh</p>
<br>
<h3>Test paragraph below for Git purposes</h3>
<p>Commits in GitHub were showing that both my Univeristy account and personal account had made commits, <br>
  though I only input my personal when logging into GitHub and GitKraken. Used the config --global  inputs<br>
on the cmd to hopefully change this.</p>
